<%- include('../partials/head', { title : 'Detalles del producto' }) %>

  <body class="">
    <%- include('../partials/header') %>


      <main>

        <div class="container my-4 my-lg-5">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/productos">Productos</a></li>
              <li class="breadcrumb-item active">Detalles del producto &nbsp;&nbsp;
                <i class="fa-solid fa-arrow-right"></i>
              </li>
              <li class="mx-3" aria-current="page">
                <%= title %>
              </li>
            </ol>
          </nav>


          <%# if (session && session.rol==1) { <a href="/admin/products" class="btn btn-primary my-2 my-lg-0">Volver a Admin</a>
            } #%>

            <div class="text-end">
              <a href="/admin/productos" class="btn btn-success my-2">Volver a Admin</a>
            </div>


            <div class="row">
              <div class="glider-contain d-block d-lg-none mb-4 col-12 col-md-6">
                <div class="glider-detail">

                  <% images.forEach(image=> { %>
                    <img style="object-fit:contain"
                      src="<%= /http/.test(image) ? image : `/images/Products/${image}`  %>">
                    <% }) %>
                </div>
                <div role="tablist" class="dots text-dark" id="dots-detail"></div>
              </div>

              <div class="col-lg-7 d-none d-lg-block">
                <div class="product-image">
                  <img style="object-fit:contain" class="active"
                  <% const indexRandom = Math.floor(Math.random() * images.length) %> 
                    src="<%= /http/.test(images[indexRandom]) ? images[indexRandom] : `/images/Products/${images[indexRandom]}` %>">

                </div>
                <ul class="image-list">
                  <% let count= 3 %>
                    <% for(let index=0;;index++) { count -=1; if (images[index]) { %>
                      <li class="image-item"><img style="object-fit:contain"
                          src="<%= /http/.test(images[index]) ? images[index] : `/images/Products/${images[index]}`  %>">
                      </li>
                      <% }else{ %>

                        <li class="image-item">
                          <img style="object-fit:contain"
                            src="<%= /http/.test(images[0]) ? images[0] : `/images/Products/${images[0]}`%>">
                        </li>
                        <% } if (count===0) {break;}} %>

                </ul>
              </div>

              <div class="card col-12 col-lg-5 position-relative shodow h-100">
                <span class="position-absolute top-0 end-0 fs-2 text-primary p-2" title="Agregar a favoritos">
                  <i class="fa-regular fa-heart fs-3"></i>
                  <!-- <i class="fa-solid fa-heart fs-3"></i> -->
                </span>
                <h4 class="card-title fw-bold my-2 pe-5">
                  <%= title %>
                </h4>

                <% if (subtitle) { %>
                  <h6 class="card-text fw-bold my-2 pe-5">
                    <%= subtitle %>
                  </h6>
                  <% } %>
                    <div class="card-body flex-grow-0">
                      <p class="<%= !discount && " d-none" %> my-0 text-decoration-line-through text-muted">$<%=
                          toThousand(price) %>
                      </p>
                      <div class="d-flex align-items-center gap-1">
                        <p class="my-0 fs-2 text-primary fw-normal">$ <%= toThousand(discount ? price - (price *
                            discount / 100) : price) %>
                        </p><span class="text-success fs-5">
                          <%= discount ? discount + " % OFF" : null %>
                        </span>
                      </div>
                      <P class="fs-6 text-dark fw-bold">en 12x $<%= (price / 12).toFixed(2) %>
                      </P>
                      <p>
                        <%= description %>
                      </p>
                    </div>

                    <div class="row">
                      <button class="btn btn-primary col-10 offset-1 col-md-6 offset-md-3">Comprar ahora</button>
                      <button class="btn text-primary col-10 offset-1 col-md-6 offset-md-3 my-2" style="background-color: rgba(65,137,230,.15);
                    border-color: transparent;
                    color: #3483fa;">Agregar al carrito</button>
                    </div>

              </div>
            </div>
        </div>
      </main>

      
      <% if (relateds.length) { %>
        <hr>
        <section class="py-3 py-lg-5">
          <h1 class="col-12 text-center">Productos relacionados</h1>
          <!-- Enviamos al slider los productos relacionados al producto que se ve en el detalle de producto -->
          <%- include("../partials/slider.ejs",{type:"related", products: relateds}) %>
        </section>
        <% } %>

          <%- include('../partials/footer') %>
            <script src="/javascript/gallery-detail.js"></script>
            <script src="/javascript/library/glider.js"></script>
            <script src="/javascript/glider.config.js"></script>
  </body>