<%- include('./partials/head',{ title : 'Home' }) %>

  <body class="index">
    <%- include('./partials/header') %>
      <%- include('./partials/banner') %>
        <main class="py-0 py-lg-5">
          <section class="py-3 py-lg-5">
            <h1 class="col-12 text-center">Destacados</h1>
            <%- include("./partials/slider.ejs",{type:"outstanding"}) %>
          </section>
          <section class="py-3 py-lg-5">
            <h1 class="col-12 text-center">Ofertas Imperdibles</h1>
            <%- include("./partials/slider.ejs",{type:"offer"}) %>
          </section>
        </main>
        <%- include('./partials/footer') %>
          <script src="/javascript/library/glider.js"></script>
          <script src="/javascript/glider.config.js"></script>
  </body>