<%- include('./partials/head',{ title : 'Home' }) %>

  <body class="index">
    <%- include('./partials/header') %>
      <main class="py-0 py-lg-5">
        <section class="">
          <h1 class="col-12 text-center">Destacados</h1>
         <%- include("./partials/slider.ejs",{type:"outstanding"}) %> 
        </section>
        <section class="py-0 py-lg-5">
          <h1 class="col-12 text-center">Ofertas Imperdibles</h1>
         <%- include("./partials/slider.ejs",{type:"offer"}) %> 
        </section>
      </main>
      <%- include('./partials/footer') %>
        <%- include('./partials/scripts') %>

  </body>