<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <script src="https://kit.fontawesome.com/15a2e4bbb7.js" crossorigin="anonymous"></script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

  <!-- BOOTSTRAP STYLES -->
  <link href="/stylesheets/library/bootstrap.min.css" rel="stylesheet">

  <!-- LOCAL STYLES -->
  <link rel="stylesheet" href="/stylesheets/styles.css">

  <!-- BOOTSTRAP SCRIPT -->
  <script src="/javascript/library/bootstrap.bundle.min.js" defer></script>

  <!-- JAVASCRIPT LOCAL -->
  <script src="/javascript/script.js" defer></script>
</head>

<body class="vh-100 d-flex flex-column justify-content-between">

  <div
    class="vw-100 vh-100 d-flex justify-content-center align-items-center bg-dark snipper-grow-container position-fixed top-0 start-0 bg-opacity-75"
    style="z-index: 200;">
    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status" aria-hidden="true">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>


  <!-- HEADER -->
  <header id="header" class="vw-100 sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="col-2 text-white fw-light fs-1" href="/">
          <img src="/images/Icons/logo.png" alt="CUERDARK">
        </a>

        <button class="navbar-toggler bg-dark bg-gradient" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse collapse-light navbar-collapse justify-content-end flex-grow-0"
          id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0 z-index-2 gap-4">

            <!-- HOME -->
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>

            <!-- CATEGORÍAS -->
            <li class="nav-item dropdown text-start">
              <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Categorías
              </a>
              <ul class="dropdown-menu dropdown-menu-end bg-dark dropdown-menu-dark" aria-labelledby="navbarDropdown">
                <span class="dropdown-header">Categorias</span>
                <% categories.forEach(category=> { %>
                  <li><a class="dropdown-item" href="/productos?categoryId=<%= category.id %>">
                      <%= capitalize(category.name) %>
                    </a></li>
                  <% }) %>
                    <li>
                      <hr class="dropdown-divider bg-white">
                    </li>
                    <li>
                      <span class="dropdown-header">Sub Categorias</span>
                      <% subcategories.forEach(subcategory=> { %>
                    <li><a class="dropdown-item" href="/productos?subcategoryId=<%= subcategory.id %>">
                        <%= capitalize(subcategory.name) %>
                      </a></li>
                    <% }) %>
            </li>
            <li>
              <hr class="dropdown-divider bg-white">
            </li>
            <li><a class="dropdown-item" href="/productos/">Todos los productos</a></li>
          </ul>
          </li>

          <!-- BUSCADOR -->
          <form class="d-flex justify-content-center form-group py-0 col col-lg-5" action="/buscar">
            <input type="text" name="page" value="1" hidden>
            <input class="border-0 me-2 form-control bg-light" type="search" name="keyword"
              style="outline: none;--bs-bg-opacity:.9;" placeholder="Buscar..." aria-label="Search" name="keyword">
            <button class="btn btn-transparent text-light" type="submit"><i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>

          <!-- CONTACTO -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/info/contacto">Contacto</a>
          </li>


          <% if (locals.user?.roleId !==1) { %>
            <!-- CARRITO DE COMPRA -->
            <li class="nav-item">
              <a href="/usuario/carrito" aria-current="page" class="nav-link position-relative">
                <i class="fa-solid fa-cart-shopping <%= locals.user?.id && " fs-4 text-success" %>"></i>
                <!-- Si esta logueado mostrar esto comentado -->
                <% if (locals.user?.id) { %>
                  <span class="position-absolute top-50 start-50 translate-middle badge rounded-pill p-1"
                    style="font-size: 1rem;bottom: -8px;right:8px">
                    2
                    <span class="visually-hidden">unread messages</span>
                  </span>
                  <% } %>
              </a>
            </li>
            <% } %>

              <!-- LINKS USUARIO -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle <%= locals.user?.id && " p-1 px-3" %>" href="#" id="navbarDropdown"
                  role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <% if (!locals.user?.id) { %>
                    <i class="fa-solid fa-user text-danger" style="--bs-text-opacity:.6;"></i>
                    <% } else if (locals.user?.roleId !==1) { %>
                      <img class="rounded-circle" style="width: 30px;height: 30px;"
                        src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" alt="">
                      <% }else{ %>
                        <i class="fa-solid fa-shield-halved text-success fs-3"></i>
                        <% } %>

                          <!-- Si esta logueado mostrar esto comentado -->


                </a>
                <ul class="dropdown-menu dropdown-menu-end bg-dark dropdown-menu-dark z-index-2 ps-3"
                  aria-labelledby="navbarDropdown">
                  <li class="nav-item text-end">
                    <button class="nav-link bg-transparent border-0">
                      <i class="fa-solid fa-toggle-on"></i> Modo oscuro
                      <!--  <i class="fa-solid fa-toggle-off"></i> -->
                    </button>
                  </li>
                  <li class="nav-item">
                    <button class="nav-link bg-transparent border-0">
                      <i class="fa-solid fa-earth-americas"></i>
                      Lenguaje
                    </button>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/usuario/ingresar" tabindex="-1">Iniciar sesión</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/usuario/registrar" tabindex="-2">Registrarse</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/usuario/perfil" tabindex="-4">Mi perfil</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/usuario/compras" tabindex="-4">Mis compras</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/usuario/salir" tabindex="-5">Cerrar sesión</a>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/admin/productos" tabindex="-6">Administrar</a>
                  </li>
                </ul>
              </li>

              </ul>
        </div>
      </div>
    </nav>
  </header>

  <%- contents %>

    <!-- FOOTER -->
    <footer class="bg-dark bg-gradient text-white py-3 row text-center m-0">
      <section class="col-12 col-md-4">
        <h5>¿Dónde encontramos?</h5>
        <div>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3289.9823603360187!2d-58.72917458571586!3d-34.452595657022776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bca20c117bf0e3%3A0xcd856576ed4b2105!2sTortugas%20Open%20Mall!5e0!3m2!1ses!2sar!4v1661692377253!5m2!1ses!2sar"
            width="50%" height="100" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </section>

      <section class="col-12 col-md-4">
        <h5 class="col-12">Medios de pago</h5>

        <img class="col-3 mx-auto" style="object-fit: contain;" src="/images/Payment/visa.jpg" alt="">
        <img class="col-3 mx-auto" style="object-fit: contain;" src="/images/Payment/mastercard.jpg" alt="">
        <img class="col-3 mx-auto" style="object-fit: contain;" src="/images/Payment/mercadopago.jpg" alt="">

      </section>

      <section class="col-12 col-md-4">
        <h5><a class="link-light" href="/info/contacto">Contacto</a> | Redes</h5>
        <div class="">
          <a class="link-light mx-4" href="">
            <i class="fs-2 fa-brands fa-whatsapp"></i>
          </a>
          <a class="link-light mx-4" href="">
            <i class="fs-2 fa-brands fa-instagram"></i>
          </a>
          <a class="link-light mx-4" href="">
            <i class="fs-2 fa-brands fa-facebook"></i>
          </a>
        </div>
      </section>

    </footer>

    <!-- SCRIPTS -->

    <script src="/javascript/library/glider.js"></script>
    <script src="/javascript/glider.config.js"></script>
    <script src="/javascript/spinner.js"></script>

</body>

</html>