<div class="container">
  <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0"
    class="scrollspy-example overflow-scroll mx-2 position-relative" style="height:calc(100vh - 111.14px);"
    tabindex="0">

    <!-- EDITAR PRODUCTO -->

    <div class="container">
      <div class="row">
        <div class="card my-4">
          <div class="p-3">
            <h5 class="card-title bg-transparent">Edición del producto con ID: <span>
                <%= product.id %>
              </span></h5>

            <!-- LINEA DIVISION -->
            <hr class="mt-4 mb-1">
          </div>
          <div class="card-body">
            <form class="row gx-3 gy-2 align-items-center"
              action="/admin/productos/editar/<%= product.id %>?_method=PUT" method="post"
              enctype="multipart/form-data">

              <!-- TITULO -->
              <div class="col-12 col-md-6 col-lg-4 form-floating position-relative">
                <input type="text" class="form-control" id="title" name="title" placeholder="Titulo"
                  value="<%= product.title %>">
                <label class="form-label px-3 fw-normal" for="title">Titulo</label>
                <i class="text-danger position-absolute top-0 end-0 pt-2 pe-3 fa-solid fa-asterisk"
                  style="font-size:10px;"></i>
              </div>

              <!-- MARCA -->
              <div class="col-12 col-md-6 col-lg-4 form-floating position-relative">
                <select class="form-select" name="brandId">
                  <% brands.forEach(({id,name})=> { %>
                    <option value="<%= id %>" <%=product.brand.id===id && "selected" %> ><%= name %>
                    </option>
                    <% }) %>

                </select>
                <label for="form-label">Marcas</label>
                <i class="text-danger position-absolute top-0 end-0 pt-2 pe-3 fa-solid fa-asterisk"
                  style="font-size:10px;"></i>
              </div>

              <!-- CATEGORIAS -->
              <div class="col-12 col-md-6 col-lg-4 form-floating">

                <select class="form-select" name="categoryId">
                  <option selected hidden value="">Seleccionar</option>
                  <% categories.forEach(({id,name}) => { %>
                    <option value="<%= id %>" <%= product.subcategoryId === id && "selected" %>>
                      <%=name %>
                    </option>
                    <% }) %>
                </select>
                <label for="form-label">Categorias</label>
                <i class="text-danger position-absolute top-0 end-0 pt-2 pe-3 fa-solid fa-asterisk"
                  style="font-size:10px;"></i>
              </div>

              <!-- SUBCATEGORIAS -->
              <div class="col-12 col-md-6 col-lg-4 form-floating">
                <select class="form-select" name="subcategoryId">
                  <option selected hidden value="">...</option>
                  <% subcategories.forEach(({id,name})=> { %>
                    <option value="<%= id %>" <%=product.subcategoryId===id && "selected" %> ><%= name %>
                    </option>
                    <% }) %>
                </select>
                <label for="form-label">Subcategorias</label>
                <i class="text-danger position-absolute top-0 end-0 pt-2 pe-3 fa-solid fa-asterisk"
                  style="font-size:10px;"></i>
              </div>

              <!-- PRECIO -->
              <div class="col-12 col-md-6 col-lg-4 form-floating">
                <input type="number" min="1" class="form-control" id="price" name="price" value="<%= product.price %>"
                  placeholder="Precio">
                <label class="form-label px-3 fw-normal" for="price">Precio</label>
                <i class="text-danger position-absolute top-0 end-0 pt-2 pe-3 fa-solid fa-asterisk"
                  style="font-size:10px;"></i>
              </div>


              <!-- DESCUENTO -->
              <div class="col-12 col-md-6 col-lg-4 form-floating">
                <input type="number" min="1" class="form-control" id="discount" value="<%= product.discount %>"
                  name="discount" placeholder="Descuento">
                <label class="form-label px-3 fw-normal" for="discount">Descuento</label>
              </div>

              <!-- DESCRIPCIÓN -->
              <div class="col-auto col-12 form-floating position-relative">
                <textarea type="text" class="form-control" style="height: 120px" id="description" name="description"
                  placeholder="Descripción"><%= product.description %></textarea>
                <label class="form-label px-3 fw-normal" for="description">Descripción</label>
                <i class="text-danger position-absolute top-0 end-0 pt-2 pe-3 fa-solid fa-asterisk"
                  style="font-size:10px;"></i>
              </div>



              <!-- LINEA DIVISION -->
              <hr class="col-6 offset-3 mt-4 mb-1 w-50">

              <!-- IMÁGENES ARCHIVOS -->
              <h4>Seleccionar las Imágenes</h4>

              <!-- PREVISUALIZACIÓN DE LAS IMÁGENES AGREGADAS -->
              <div class="glider-contain" id="slider-admin-products">
                <div class="glider glider-img-admin">
                  <% product.images.forEach(({img})=>{%>
                    <div class="position-relative img-hover">
                      <img src="<%= /http/.test(img) ? img : `/images/Products/${img}`%>" alt="">
                      <button class="link-dark border-0 position-absolute top-0 end-0 px-1">
                        <i class="fa-solid fa-xmark"></i>
                      </button>
                    </div>
                    <% }) %>
                </div>
                <div role="tablist" class="dots text-dark" id="dots-img-admin"></div>
              </div>

              <!-- IMÁGENES INPUT -->
              <div class="col-12 col-lg-6">
                <input class="form-control form-control" name="imgsFiles" id="ImgProduct" type="file" multiple
                  accept="image/*">
              </div>

              <!-- IMÁGENES URL -->
              <div class="col-12 col-lg-6 position-relative">
                <input type="text" class="form-control my-1" id="imgText" name="imgText"
                  placeholder="Coloca una url de imagen">

                <!-- BORRAR ULTIMA IMAGEN URL -->
                <button type="button"
                  class="btn btn-sm btn-light position-absolute translate-middle top-100 rounded-circle border"
                  style="z-index:1;font-size: 8px;right: 40px;" title="borrar ultimo campo">
                  <i class="fa-solid fa-minus"></i>
                </button>

                <!-- AGREGAR UNA IMAGEN NUEVA URL -->
                <button type="button"
                  class="btn btn-sm btn-light position-absolute translate-middle top-100 rounded-circle border"
                  style="z-index:1;font-size: 8px;right: 10px;" title="agregar un nuevo campo">
                  <i class="fa-solid fa-plus"></i>
                </button>
              </div>

              <!-- LINEA DIVISION -->
              <hr class="col-6 offset-3 mt-4 mb-1 w-50">

              <!-- COLORES -->
              <div class="col-12 col-md-6 col-lg-4 form-floating">
                <select class="form-select" name="colorId">
                  <option selected hidden value="">Seleccionar</option>
                  <% colors.forEach(({id, text, hex})=> { %>
                    <option value="<%= id %>" <%=product.colorId===id && "selected" %>>
                      <%= text %>
                    </option>
                    <% }) %>

                </select>
                <label for="form-label">Color</label>
              </div>

              <!-- TIPO -->
              <div class="col-12 col-md-6 col-lg-4 form-floating">


                <select class="form-select" name="typeId">
                  <% types.forEach(({id,name})=> { %>

                    <option value="<%= id %>" <%=product.typeId.id===id && "selected" %> ><%= name %>
                    </option>
                    <% }) %>

                </select>
                <label for="form-label">Tipo</label>
              </div>

              <!-- PROVEEDOR -->
              <div class="col-12 col-md-6 col-lg-4 form-floating">
                <select class="form-select" name="providerId">
                  <option selected hidden value="">Seleccionar</option>
                  <% providers.forEach(({id, name})=> { %>
                    <option value="<%= id %>" <%=product.providerId===id && "selected" %>>
                      <%= name %>
                    </option>
                    <% }) %>
                </select>
                <label for="form-label">Proveedor</label>
              </div>




              <!-- CANTIDAD -->
              <div class="col-12 col-md-6 col-lg-4 form-floating">
                <input type="number" min="1" class="form-control" id="quantity" value="<%= product.quantity %>"
                  name="quantity" placeholder="Cantidad">
                <label class="form-label px-3 fw-normal" for="quantity">Cantidad</label>
              </div>

              <!-- MODELO -->
              <div class="col-12 col-md-6 col-lg-4 form-floating">
                <input type="text" class="form-control" id="model" value="<%= product.model %>" name="model"
                  placeholder="Modelo">
                <label class="form-label px-3 fw-normal" for="model">Modelo</label>
              </div>


              <!-- PRECIO MÍNIMO DE ENVIÓ -->
              <div class="col-12 col-md-6 col-lg-4 form-floating">
                <input type="number" min="1" class="form-control" id="priceShipping"
                  value="<%= product.priceShipping %>" name="priceShipping" placeholder="Precio mínimo de envió">
                <label class="form-label px-3 fw-normal" for="priceShipping">Precio mínimo de envió</label>
              </div>

              <!-- SUBTITULO -->
              <div class="col-md-6 col-lg-8 form-floating">
                <input type="text" class="form-control" id="subtitle" name="subtitle" placeholder="Subtitulo"
                  value="<%= product.subtitle %>">
                <label class="form-label px-3 fw-normal" for="subtitle">Subtitulo</label>
              </div>

              <!-- HECHO EN -->
              <div class="col-12 col-md-6 col-lg-4 form-floating">
                <input type="text" class="form-control" id="madeIn" name="madeIn" value="<%= product.madeIn %>"
                  placeholder="Hecho en">
                <label class="form-label px-3 fw-normal" for="madeIn">Hecho en</label>
              </div>

              <!-- LINEA DIVISION -->
              <hr class="col-6 offset-3 mt-4 mb-1 w-50">

              <div class="form-group fw-normal row my-3 align-self-baseline">
                <!-- MOSTRAR COMO OFERTA -->
                <div class="col">
                  <div class="form-check">
                    <input class="form-check-input" name="showInOffer" <%=product.showInOffer && 'checked' %>
                    type="checkbox"
                    id="showInOffer">
                    <label class="form-check-label" for="showInOffer">
                      Mostrar como oferta
                    </label>
                  </div>
                </div>

                <!-- DESTACADO -->
                <div class="col">
                  <div class="form-check">
                    <input class="form-check-input" name="outstanding" <%=product.outstanding && 'checked' %>
                    type="checkbox"
                    id="outstanding">
                    <label class="form-check-label" for="outstanding">
                      Destacar
                    </label>
                  </div>
                </div>

                <!-- DISPONIBLE -->
                <div class="col">
                  <div class="form-check">
                    <input class="form-check-input" name="available" <%=product.available && 'checked' %>
                    type="checkbox"
                    id="available">
                    <label class="form-check-label" for="available">
                      Disponible
                    </label>
                  </div>
                </div>

                <!-- HAY STOCK -->
                <div class="col">
                  <div class="form-check">
                    <input class="form-check-input" name="stock" <%=product.stock && 'checked' %> type="checkbox"
                    id="stock">
                    <label class="form-check-label" for="stock">
                      Hay Stock
                    </label>
                  </div>
                </div>

                <!-- ENVIÓ GRATIS -->
                <div class="col">
                  <div class="form-check">
                    <input class="form-check-input" name="freeShipping" <%=product.freeShipping && 'checked' %>
                    type="checkbox"
                    id="freeShipping">
                    <label class="form-check-label" for="freeShipping">
                      Envió gratis
                    </label>
                  </div>
                </div>

              </div>
              <!-- Contraseña (llave) para realizar el proceso -->
              <div class="col-12 col-md-6 offset-lg-4 my-4">
                <div class="input-group-text bg-transparent">
                  <span class="mx-auto">
                    <%- captcha %>
                  </span>
                </div>
                <div class="my-2 d-flex gap-2">
                    <input type="text" name="captcha" class="form-control"
                    placeholder="Ingresar Captcha">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>