<div class="container">
  <div class="row p-2">
    <!-- Button trigger modal -->
    <button type="button" class="col-6 col-md-2 btn btn-sm btn-primary bg-gradient" data-bs-toggle="modal"
      data-bs-target="#modalProductAdd">
      Agregar un producto
    </button>
  </div>
  <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0"
    class="scrollspy-example overflow-scroll mx-2 position-relative" style="height:calc(100vh - 111.14px);"
    tabindex="0">

    <table class="table table-lg table-hover text-center table-bordered">

      <tr class="table-primary bg-gradient positio-fixed top-0">

        <th scope="col"></th>
        <th scope="col">ID</th>
        <th scope="col">Imágenes</th>
        <th scope="col">Titulo</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Marca</th>
        <th scope="col">Proveedor</th>
        <th scope="col">Precio</th>
        <th scope="col">Precio final</th>
        <th scope="col">Descuento</th>
        <th scope="col">Tip</th>
        <th scope="col">Colores</th>
        <th scope="col">Oferta</th>
        <th scope="col">Destacado</th>
        <th scope="col">Subtitulo</th>
        <th scope="col" width="200px">Descripciones</th>
        <th scope="col">Hecho en</th>
        <th scope="col">Categoría</th>
        <th scope="col">Disponible</th>
        <th scope="col">Stock</th>
        <th scope="col">Envió gratis</th>
        <th scope="col">Precio envió</th>
      </tr>

      <!-- Modal Deleted-->
      <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-warning ms-3" id="exampleModalLabel" style="font-size: 3rem;">
                <i class="fa-solid fa-triangle-exclamation" style="text-shadow:0 0 3px black ;"></i>
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body my-3">
              <h4 class="my-3">
                Estas Seguro de querer eliminar el producto:<span class="fw-normal fs-6 text-danger titleContent">
                </span>
              </h4>


              <div class="row">
                <input type="text" class="d-block form-control col-6 placeholderInputTitle">
              </div>

              <div class="fw-normal">Para eliminar escribe: /<span class="text-muted fw-bold textToWrite">
                </span>/ .
                <p>Tener en cuenta que no podrás recuperar el producto eliminado.</p>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
              <form id="formDelete">
                <button type="submit" class="btn btn-success">Aceptar</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <% products.forEach(p=> { %>

        <tr>
          <!-- ID -->
          <th>
            <a href="/admin/productos/editar/<%= p.id %>" class="fs-5 btn btn-outline-primary border-0"><i
                class="fa-solid fa-pen-to-square"></i></a>

            <!-- Button trigger modal -->
            <button type="button" class="fs-5 btn btn-outline-danger border-0" data-bs-toggle="modal"
              data-bs-target="#modalDelete" onclick="activeDeleteProduct({title:'<%= p.title %>',id:'<%=p.id%>'})">
              <i class="fa-solid fa-eraser"></i>
            </button>

          </th>

          <!-- ID -->
          <th scope="row">
            <%= p.id %>
          </th>
          <!-- Imagenes -->
          <td>
            <a href="/productos/detalle/<%= p.id %>" class="">
              <% p.images.forEach(({img})=> { %>
                <img src="<%= /http/.test(img) ? img : `/images/Products/${img}` %>" class="border" alt="" width="30px"
                  height="40px" style="object-fit:contain">
                <% }) %>
            </a>
          </td>
          <!-- Titulo -->
          <td>
            <%= p.title %>
          </td>
          <!-- Cantidad -->
          <td>
            <%= p.quantity %>
          </td>
          <!-- Marca -->
          <td>
            <%= p.brand.name %>
          </td>
          <!-- Proveedor -->
          <td>
            <%= p.provider.name %>
          </td>
          <!-- Precio -->
          <td>$<%= toThousand(p.price) %>
          </td>
          <!-- Precio final -->
          <td>$ <%= toThousand(p.discount ? p.price - (p.price * p.discount / 100) : p.price) %>
          </td>
          <!-- Descuento-->
          <td>
            <%= p.discount %> %
          </td>
          <!-- Tipo-->
          <td>
            <%= p.type.name %>
          </td>
          <!-- Colores -->
          <td>
            <div class="">
              <% p.color.hex.forEach(hex=> { %>
                <input class="" type="color" value="<%= hex %>" disabled>
                <% }); %>
            </div>
            <p class="col d-inline-block">
              <%= p.color.text %>
                </sp>
          </td>
          <!-- Oferta -->
          <td>
            <%= p.showInOffer ? "Si" : "No" %>
          </td>
          <!-- Destacado -->
          <td>
            <%= p.outstanding ? "Si" : "No" %>
          </td>
          <!-- Subtitulo -->
          <td>
            <%= p.subtitle %>
          </td>
          <!-- Descripciones -->
          <td class="d-table" style="inline-size: 300px;"><%- p.description %></td>
          <!-- Hecho en -->
          <td>
            <%= p.madeIn %>
          </td>
          <!-- Categoría -->
          <td>
            <%= p.subcategory.category.name %>
          </td>
          <!-- Disponible -->
          <td>
            <%= p.available ? "Si" : "No" %>
          </td>
          <!-- Stock -->
          <td>
            <%= p.stock ? "Si" : "No" %>
          </td>
          <!-- Envió gratis -->
          <td>
            <%= p.freeShipping ? "Si" : "No" %>
          </td>
          <!-- Precio envió -->
          <td>
            <%= p.priceShipping %>
          </td>
        </tr>

        <% }) %>

    </table>

  </div>
</div>
<!-- MODAL DE CREAR UN PRODUCTO -->
<%- include('./partials/modalCreateProduct',{errors: locals.errors,old: locals.old}) %>

  <script src="/javascript/admin.js"></script>