<main class="container my-5">
    <section class="row justify-content-center">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Registrarse</li>
            </ol>
        </nav>


        <div class="col-12 col-md-10">
            <form action="/usuario/registrar" method="post" class="card shadow p-4 col-12 col-lg-8 offset-lg-2">
                <!-- TITULO -->
                <h1 class="card-title my-5 text-center">Registrarse</h1>

                <div class="row">
                    <!-- INPUTS -->

                    <div class="mb-3 form-floating col-12 col-lg-6">
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                            placeholder="Apellido" name="email" value="<%= locals.old?.email %>">
                        <label for="email" class="form-label ms-1">Email</label>
                        <!-- ERROR -->
                        <div class="text-danger">
                            <%= locals.errors?.email?.msg %>
                        </div>
                    </div>

                    <div class="mb-3 form-floating col-12 col-lg-6">
                        <input type="text" class="form-control" id="username" aria-describedby="emailHelp"
                            placeholder="Nombre de usuario" name="username" value="<%= locals.old?.username %>">
                        <label for="username" class="form-label ms-1">Nombre de usuario</label>
                        <!-- ERROR -->
                        <div class="text-danger">
                            <%= locals.errors?.username?.msg %>
                        </div>
                    </div>


                    <div class="mb-3 form-floating col-12 col-lg-6">
                        <input type="password" class="form-control" id="pass" placeholder="Contraseña" name="password"
                            value="<%= locals.old?.password %>">
                        <label for="pass" class="form-label ms-1">Contraseña</label>
                        <!-- ERROR -->
                        <div class="text-danger">
                            <%= locals.errors?.password?.msg %>
                        </div>
                    </div>

                    <div class="form-floating col-12 col-lg-6">
                        <input type="password" class="form-control" id="pass" placeholder="Contraseña" name="password2"
                            value="<%= locals.old?.password2 %>">
                        <label for="pass" class="form-label ms-1">Confirmar Contraseña</label>
                    </div>
                    <!-- ERROR -->
                    <div class="col-12 text-danger text-center mb-3">
                        <%= locals.errors?.password2?.msg %>
                    </div>
                </div>

                <!-- TERMINOS -->
                <div class="mb-3 form-check text-center">
                    <input type="checkbox" class="btn-check" id="terms" name="checkTerms" autocomplete="off"
                        <%=locals.old?.checkTerms && "checked" %>>
                    <label class="btn btn-sm btn-light text-dark" for="terms">Aceptar términos y
                        condiciones
                        <!-- ERROR -->
                        <% if(locals.errors?.checkTerms) { %>
                            <i class="fa-solid fa-xmark text-danger fs-5"></i>
                        <% } %>
                    </label>
                </div>


                <!-- RECAPTCHA DE GOOGLE -->

                <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async>
                </script>
                <div class="col-12 my-3">
                    <div class="g-recaptcha d-flex justify-content-center" id="ReCaptcha"></div>
                    <!-- ERROR -->
                    <div class="text-danger text-center">
                        <%= locals.errors?.recaptcha?.msg %>
                    </div>
                </div>

                <!-- REGISTRO NORMAL -->
                <button type="submit"
                    class="btn btn-light col-12 col-lg-6 offset-lg-3 link-primary my-2 py-2">Registrarse</button>
                <hr>

                <!-- REGISTRO CON GOOGLE -->
                <a href="#"
                    class="d-inline-block btn btn-light link-danger col-12 col-lg-6 offset-lg-3 my-2 overflow-hidden p-0"
                    style="height:30px;">
                    <!-- <i class="fa-brands fa-google"></i>oogle -->
                    <img class="h-100 w-100 py-1" style="object-fit: contain;" src="/images/Social/google.png"
                        alt="img-google">
                </a>

                <!-- REGISTRO CON FACEBOOK -->
                <a href="#" class="d-inline-block btn btn-primary col-12 col-lg-6 offset-lg-3 my-2 p-0"
                    style="height:30px;">
                    <!-- <i class="fa-brands fa-facebook"></i>acebook -->
                    <img class="h-100 w-100 py-1" style="object-fit:contain;" src="/images/Social/facebook.png"
                        alt="img-facebook">
                </a>

                <!-- INGRESAR -->
                <div class="text-center my-3">

                    <p class="form-text">
                        <span class="text-muted">¿Ya tienes cuenta? </span><a href="/usuario/ingresar">INGRESAR</a>
                    </p>
                </div>

            </form>
        </div>
    </section>
</main>
<script src="/javascript/reCaptcha.config.js"></script>